<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
   <context:property-placeholder location="classpath:sports.properties"/>


    <!-- bean definitions here -->
    
     <bean id="myCoachBase" class="spring.BaseballCoach">
       <constructor-arg ref="sad"/>
      </bean>
      
      <!--  constructor injection -->
    <bean id="myCoachTrack" class="spring.trackCoach">
      <constructor-arg ref="happy"/>
     </bean>
     
     <!-- setter injection -->
     <bean id="myCoachCricket" class="spring.CricketCoach">
       <property name="fsSet" ref="happy"/>
       <property name="email" value="${prop.email}"/>
       <property name="name"  value="${prop.name}"/>
        
     </bean>
    
   
    <bean id="happy" class="spring.happyFortune"></bean>
     <bean id="sad" class="spring.sadFortune"></bean>

</beans>